.login-container {
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 40%;
}

.login-container > h2 {
  color: white;
  font-weight: 700;
}

.login-textWrapper {
  padding: 10px 20px;
  opacity: 0.85;
  background-color: #2b2222;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
