body {
  background-image: url("https://e0.pxfuel.com/wallpapers/311/730/desktop-wallpaper-minimalistic-%E2%80%A2-r-minimalisticwalls-minimalist-design-laptop-mac-minimal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: 250vh; */
  color: white;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container > h2 {
  color: white;
  font-weight: 700;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.column {
  display: flex;
  width: 200px;
  background-color: #2b2222;
  opacity: 0.85;
  border-radius: 10px;
  min-height: 400px;
  padding-bottom: 20px;
}

.columnItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: aliceblue;
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 5px 5px 0px 0px;
}

.taskList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;
}

.editInput {
  color: white;
  background-color: inherit;
  border: none;
  width: 140px;
  cursor:grab;
}

.editInput:focus {
  background-color: white;
  color: black;
}

.delButton {
  color: white;
  width: 10px;
  height: 15px;
}

.delButton:hover {
  cursor: pointer;
  color: red;
}

.addButton {
  margin-top: 10px;
  padding: 5px;
  width: fit-content;
  align-self: center;
  border-radius: 10px;
  border: 1px solid white;
  color: wheat;
  background-color: inherit;
}

.addButton:hover {
  color: #2b2222;
  background-color: white;
}
