body {
  background-image: url("https://e0.pxfuel.com/wallpapers/311/730/desktop-wallpaper-minimalistic-%E2%80%A2-r-minimalisticwalls-minimalist-design-laptop-mac-minimal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
}
